.col-ajustes {
  border-right: 2px solid;
  ion-content {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    
      .perfil {
        font-size: 100px;
      }
    
      h1 {
        margin-top: 0;
      }
    
      ion-list {
        width: 100%;
        ion-label {
          font-weight: bold;
        }
      }  
  
    }
  }
}

.ajustes-menu {
	border-radius: 0;
  flex-grow: 1; /* Permite que crezca dentro de IonCol */
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.cambio-title {
  font-weight: bold;
}

.ajustes-input {
  --background: var(--ion-color-blanco) !important;
  --color: var(--ion-color-dark) !important;

  width: 100%;
  /* max-width: 500px; */
}

.passwd-button {
  width: 100%;
  /* max-width: 500px; */

}