.elec-menu {
  position: absolute;
  top: 0px;
  left: 2px;
  width: 100px !important;
  height: 50px !important;

  .main-button {
    display: flex;
    height: 50px !important;
  }

  .legend-button {
    display: flex;
    height: 42px !important;
  }


  .resumen-elec {
    display: flex;
    align-items: center;
    margin-left: 15px;
    p {
      display: flex;
      align-items: center;
      font-size: 17px;
      margin-right: 15px;
    }
  }
}

