.electrodo-div {
  position: absolute;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  user-select: none;
}


.image-mapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .cuerpo-img {
    max-width: 100%  !important;
    max-height: 100% !important;
  
    width: fit-content  !important;
    height: fit-content !important;
    aspect-ratio: 467/510;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    img {
      max-width: 100%;
      max-height: 100%;  
    }
  }
  
}
