.lista-evaluacion-container {
  display: flex;
  justify-content: center;

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 50px;  
    width: 100%;
    
    margin-top: 20px;

    li {      
      border-radius: 10px;
      ion-card {
        cursor: pointer;
        height: 150px;
        transition: transform 0.3s ease;
  
        ion-card-content {
          font-weight: bold;
          text-align: end;
          justify-content: end;
        }
      }
      ion-card:hover {
        transform: scale(1.01);
      }
    }
  
  }
}
