.titulo-login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--ion-color-primary);
  
  .titulo-login {
    font-size: 4vw;
    font-family: 'Nunito Variable', sans-serif;
    color: var(--ion-color-blanco);
    font-weight: 100;
  }  
}


.form-container {
  display: flex;
  width: 100% !important;
  min-height: 100vh;

  .login-form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    ion-input {
      max-width: 60vw;
      /* --border-color: var(--ion-color-primary); */
    }

    .inicio-sesion {
      font-size: 2rem !important;
      width: 100%;
    }  
  
  }
  
  .login-button {
    width: 100%;
    height: 50px;
    font-weight: bold;
  }
  
}

