svg {
  width: 100%;
  height: 100%;

  g {
    max-width: 100%;
    max-height: 100%;

    .circ-elec {
      fill: #fff;
    }

    .circ-elec-catodo {
      fill: #000;
    }

    .circ-elec-anodo {
      fill: #ff0000;
    }

    .circ-elec:hover {
      fill: #8f8f8f;
    }

    .disabled-elec {
      opacity: 0.7;
      fill: #8f8f8f
    }

    .text-elec {
      fill: #000;
    }

    .text-elec-anodo {
      fill: #000;
    }

    .text-elec-catodo {
      fill: #fff;
    }
  }
}