.range-color-picker {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  --background: none !important;

  ion-label {
    display: flex;
    flex-direction: column;
    
    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .param-name {
        display: flex;
        align-items: center;
        width: 60%;
        font-size: 1rem;
        color: var(--ion-color-primary);
        font-weight: 600;

        ion-icon {
          color: var(--ion-color-primary);
          margin-left: 10px;
          font-weight: 600;
        }

      }
    }
    .tramo-msg {
      width: 100%;
      text-align: end;
      font-size: 1rem;
      margin-bottom: 10px;
      padding-right: 16px;
    }

  }

  ion-range {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 0;
    height: 100%;
    --bar-background: var(--ion-color-blanco);
    --bar-background-active: var(--ion-color-secondary);
  }
}